<nav class="navbar navbar-expand-lg navbar-light nav-bar" >
  <a class="navbar-brand" href="#">
    <div style="display: flex">
        <img src="../../../../assets/logo/logo.png" height="40" alt="">
        <small style="font-size: 11px; color: white; font-weight: 500 ">Test</small>
    </div>   
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li  routerLinkActive = "active current"  class="nav-item">
        <a class="nav-link"  [routerLink]="['/orders']">Orders</a>
      </li>
      <li (click)="checkHealth('payment')" class="nav-item">
        <a  class="nav-link point" >Payment API status</a>
      </li>
      <li (click)="checkHealth('order')" class="nav-item">
        <a  class="nav-link point" >Order API status</a>
      </li>
    </ul>
  </div>
</nav>