<div>
    <div class="card">
        <div class="card-body">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h2>Orders Details</h2>
                </div>
                <div class="col-md-6">
                    <button *ngIf="order.status != 'cancelled'" style="float: right;
                    margin: 10px;" (click)="cancelOrder(order.id)" class="btn btn-danger">Cancel Order</button>
                    <p *ngIf="order.status == 'cancelled'" style=" color:red ;float: right;
                    margin: 10px;">Cancelled</p>
                    <p *ngIf="order.status == 'delivered'" style=" color:green ;float: right;
                    margin: 10px;">Delivered</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                        <div class="row">
                            <div class="form-group row" style="margin-left: 20px;">
                                <label  for="">Order No</label>
                                <input disabled [(ngModel)]="order.order_no"  class="form-control" type="text" placeholder="">
                            </div>   
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group row" style="margin-left: 5px;">
                                    <label  for="">Item name</label>
                                    <input disabled [(ngModel)]="order.item_name"  class="form-control" type="text" placeholder="">
                                </div>    
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row" style="margin-left: 20px;">
                                    <label  for="">Amount (MYR)</label>
                                    <input disabled [(ngModel)]="order.amount"   class="form-control" type="text" placeholder="">
                                </div>    
                            </div>
                            
                        </div>
                        <div class="row">
                            <button style="margin: 20px;" (click) = "back()" class="btn btn-warning">Back to Orders</button>
                        </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>