<div>
    <div class="card">
        <div class="card-body">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h2>Orders</h2>
                    <div style="display: inline-flex !important">
                        <label style="vertical-align:middle" for=""> Order update Frequency (in seconds) : </label>
                        <input [(ngModel)]="frequency" type="number" class="form-control" style="width: 100px; margin-left: 10px;">
                        <button (click)="updateFrequency(frequency)" style="margin-left: 10px;" class="btn btn-secondary">Update</button>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-4 text-right">
                    <a [routerLink]="['/orders/new']"  class="btn btn-primary" style="color: white">+ Create order</a>
                </div>
            </div>
            <div class="">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Order #</th>
                            <th scope="col">Description</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let order of orders">
                            <th scope="row">{{order.order_no}}</th>
                            <td>{{order.item_name}}</td>
                            <td>MYR {{order.amount}}</td>
                            <td *ngIf="order.status == 'cancelled'" style="color: red">{{order.status}}
                            </td>
                            <td *ngIf="order.status == 'confirmed'" style="color: blue">{{order.status}}</td>
                            <td *ngIf="order.status == 'delivered'" style="color: green">{{order.status}}</td>
                            <td *ngIf="order.status == 'created'" style="color: yellow">{{order.status}}</td>

                            <td><i (click)=viewOrder(order.id) class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                           
                        </tr>
                    </tbody>
                </table>
            </div> 
        </div>
    </div>
</div>