<div>
    <div class="card">
        <div class="card-body">
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-6">
                    <h2>Orders Details</h2>
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group row" style="margin-left: 20px;">
                            <label  for="">Order No</label>
                            <input  [(ngModel)]="order.order_no"  class="form-control" type="text" placeholder="">
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group row" style="margin-left: 10px;">
                                <label  for="">Item name</label>
                                <input  [(ngModel)]="order.item_name"  class="form-control" type="text" placeholder="">
                            </div>    
                        </div>
                        <div class="col-md-5">
                            <div class="form-group row" style="margin-left: 20px;">
                                <label  for="">Amount (MYR)</label>
                                <input  [(ngModel)]="order.amount"   class="form-control" type="number" placeholder="">
                            </div>    
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="submitForm()" style="margin: 20px;" class="btn btn-primary">Create Order</button>
                        <button (click)="back()" style="margin: 20px;" class="btn btn-warning">Back to Orders</button>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>