/* You can add global styles to this file, and also import other style files */

.mg-top-5 {
    margin-top: 5%;
}


.btn-primary{
    background-color: #14D8CC;
    border-color : #14D8CC;
}

.btn-primary:hover {
    background-color: #1CE8B6;
    border-color : #1CE8B6;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.98);
    font-weight: 400;
}

.point:hover{
    cursor: pointer;
}